/* You can add global styles to this file, and also import other style files */
html {
    background: lightgrey; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FAFFD1, lightgrey);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FAFFD1, lightgrey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html *{
    background-color: rgba(0,0,0,0);
}